@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
:root{
    --background: hsl(214,84%,56%);
    --color-primary: #667eea;
    --color-secondary:#764ba2;
    --boton-padding: 20px 40px;

    --primary-color: hsl(214,84%,56%);
    --text-color: hsl(0,0%,31%);
    --bg-color: hsl(0,0%,90%);
    --bg-card-color: hsl(0,0%,98%);
    --transition: color 0.1s, background-color 0.2s ease-in-out;
    --border-radius: 0.4em ;
    --skills-bar-length: 0%;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-family: sans-serif;
}
body.dark{
    --text-color: hsl(0,0%,83%);
    --bg-color: hsl(0,0%,15%);
    --bg-card-color: hsl(0,0%,20%);
    --background: rgb(11, 30, 55);
    --color-secondary:#1d0e2b;
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    max-width: 1200px;
}
.subtitle{
    font-size: 2.5rem;
    margin-bottom: 35px;
}
.hero{
    height: 100vh;
    background-color: var(--background);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='261' height='261' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23555555' stroke-width='2.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23BBBBBB'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position:  relative;
}

.hero .container{
    padding: 0;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    padding: 0 1.5em;
    transition: var(--transition);
}
.switches{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.toggle-theme__icon{
    margin-right: 0.5em;
    width: 20px;
}
.toggle-theme__text{
    font-size: 0.8rem;
}
.flags{
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flags__item{
    width: 30px;
}
.flags__img{
    display: block;
    cursor: pointer;
}
.navegation{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}
.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}
.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}
.nav__items--cta{
    border: 1px solid #fff;
}
.nav__items--footer{
    padding: 10px;
}

.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.hero__texts{
    width: 80%;
    margin-bottom: 50px;
}

.hero__title{
    font-size: 3.2rem;
}

.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero__cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
}

.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}
.Wave{
    fill: var(--bg-color);
    stroke: none;
}
/* About */

.presentation{
    padding-top: 0;
    text-align: center;
    color: var(--text-color);
}

.presentation__picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.presentation__copy{
    width: 80%;
    margin: 0 auto;
}

.presentation__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.main{
    display: grid;
    padding: 2em;
    gap: 0.5em;
}
@media screen and (min-width:760px){
    .main{
        grid-template-columns: min-content 1fr;
    }
}
.experience{
    display: flex;
    align-items: start;
    margin-bottom: 1em;
    padding: 1em;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}
.experience__image{
    max-width: 15%;
    margin-right: 1em;
}
.experience__time{
    font-size: 0.8rem;
    margin-bottom: 0.5em;
}
.experience__job{
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--primary-color);
    transition: var(--transition);
}
.experience__decription{
    font-size: 0.8rem;
    margin-bottom: 1.5em;
}

.skills{
    padding: 1em 0;
}
.skills__header{
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto;
}
.skills__tech{
    margin: 0;
    font-size: 0.8rem;
}
.skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.skills__bar,
.skills__bar::after{
    position: relative;
    width:  175px;
    height: 8px;
    background-color: #888;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.skills__bar::after{
    content: "";
    position: absolute;
    left: -175px;
    background-color: var(--primary-color);
    transition: var(--transition);
    animation: skills-bar-fill 2s ease-in-out forwards;
}
.skills__bar--10::after{
    --skills-bar-length: 10%;
}
.skills__bar--20::after{
    --skills-bar-length: 20%;
}
.skills__bar--30::after{
    --skills-bar-length: 30%;
}
.skills__bar--40::after{
    --skills-bar-length: 40%;
}
.skills__bar--50::after{
    --skills-bar-length: 50%;
}
.skills__bar--60::after{
    --skills-bar-length: 60%;
}
.skills__bar--70::after{
    --skills-bar-length: 70%;
}
.skills__bar--80::after{
    --skills-bar-length: 80%;
}
.skills__bar--90::after{
    --skills-bar-length: 90%;
}
.skills__bar--100::after{
    --skills-bar-length: 100%;
}

.column{
    display: grid;
    gap: 0.5em;
}
@media screen and (min-width:760px){
    .column--right{
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
        /* para que se ajuste al contenido */
        align-items: start;
    }
}
.card{
    padding: 1em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);
}
.card__image-container{
    min-width: 320px;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.card__header{
    padding: 1em 0;
}
.card__title{
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.2rem;
}
.card__subtitle{
    font-size: 0.9rem;
    opacity: 0.8;
}
.card__link{
    margin-bottom: 0.5em;
}
.card__text{
    font-size: 0.9rem;
    line-height: 1.5;
}

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about__img{
    text-align: center;
}

.about__img--left{
    text-align: left;
}

.about__picture{
    max-width: 80%;
}

.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/* proyect */
.projects{
    background: var(--bg-card-color);
}

.projects__grid{
    display: grid;
    height: 550px;
    grid-template-areas:
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap:  10px;
}

.projects__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects__item:nth-last-of-type(1){
    grid-area: img1;
}
.projects__item:nth-last-of-type(2){
    grid-area: img2;
}
.projects__item:nth-last-of-type(3){
    grid-area: img3;
}
.projects__item:nth-last-of-type(4){
    grid-area: img4;
}
.projects__item:nth-last-of-type(5){
    grid-area: img5;
}

.projects__hover{
    position: absolute;
    background: #dc143c8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
    text-decoration: none;
}
.projects__item:hover .projects__hover{
    transform: translateX(0%);
}
.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}

/* experience */
.experience__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.experience__item{
    width: 95%;
    margin: 0 auto;
    background: var(--color-secondary);
    box-shadow:  0 8px 10px rgb(66,66,66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
}
.experience__company{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.experience__img{
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 30px;
}

.experience__name{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.experience__verification{
    color: #E0AFA0;
    font-weight: 700;
}

.experience__review{
    font-weight: 300;
}


/* FOTTER */

.footer{
    background: var(--color-primary);
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

.footer__icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
}

.fab.footer__icon{
    line-height: 60px;
}

/* Responsive desing */
@media  screen and (max-width: 800px) {
    :root{
        --boton-padding: 18px 40px;
    }

    .nav{
        justify-content: space-around;
    }
    .nav__items--cta{
        border: none;
    }
    .nav__items{
        font-weight: 400;
        border-bottom: 1px solid #fff;
    }
    .nav__items--footer{
        border: none;
    }
    .hero__texts{
        width: 100%;
        margin-bottom: 80px;
    }
    .hero__title{
        font-size: 2.5rem;
    }
    .hero__subtitle{
        font-size: 1.5rem;
    }

    /* About */
    .presentation__copy{
        width: 100%;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about.container{
        padding-top: 30px;
    }
    .about__img--left{
        text-align: center;
    }
    .about__texts:last-child{
        grid-row: 3/4;
    }

    /* Mis proyectos */
    .projects__grid{
        grid-template-areas:
        "img1 img1 img2 img2"
        "img1 img1 img3 img3"
        "img4 img4 img5 img5";
    }
    /* Testimonio */
.experience__grid{
        grid-template-columns: 1fr;
        gap:30px;
}

    /* Testimonio */
    .footer__grid{
        grid-template-columns: 1fr;
    }

    .footer__contact{
        grid-row: 1/2;
    }
}

@media  screen and (max-width: 500px) {
    :root{
        --boton-padding: 18px 35px;
    }
    .subtitle{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }
    .nav__items{
        padding: 0 10px;
        border: 0;
    }

    .hero__texts{
        text-align: center;
        margin-bottom: 100px;
    }

    .hero__title{
        font-size: 2rem;
    }

    /*about */
    .presentation__picture{
        width: 120px;
        height: 120px;
    }
    .about{
        row-gap: 60px;
    }
    .about.container{
        padding-top: 10px;
    }

    /*Mis proyecto*/
.projects__grid{
    grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    "img5";
        height: auto;
        grid-template-rows: repeat(5,250px);
        grid-auto-rows: 250px;
        gap: 10px;
}
/*Testimonio*/
.experience__item{
    padding: 30px 15px;
}
.experience__company{
    flex-direction: column;
}
.experience__texts{
    text-align: center;
}
.experience__img{
    margin: 0;
    margin-bottom: 20px;
}
}
@keyframes skills-bar-fill{
    to{
        transform: translateX(var(--skills-bar-length));
    }
}